p {
  margin: 10px;
}
.profile {
  border: 1px solid;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  object-fit:  inherit
  
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  object-fit:  inherit
}

.avatar {
  border-radius: 50%;
}

.name {
}

.tag,
.location {
  color: darkgrey;
}

.stats {
  display: flex;
  list-style-type: none;
  background-color: lightcyan;
  margin: 0;
  padding: 0;
  
}

.label {
  color: #a9a9a9;

  font-size: 25px;
}

.quantity {
}

.list {
  display: flex;
  border: 1px solid;
  padding: 20px;
  flex-direction: column;
  align-items: center;

  flex-basis: auto;
  width: 130px;
}
